body{
   font-family: 'Signika Negative', sans-serif;
   background-color: #FF6600;
}

#content{
   margin:5%;
}

.box{
   margin-bottom:20px;
   min-height: 30px;
   padding:5px;
   background-color: #fff;
   

   -moz-box-shadow: 3px 3px 8px #b2b1b1;
   -webkit-box-shadow: 3px 3px 8px #b2b1b1;
   box-shadow: 3px 3px 8px #b2b1b1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#b2b1b1')";
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#b2b1b1');
}


#left{
   width:400px;
   float:left;
}

#right{
   width:600px;
   min-height:500px;
   float:left;
   margin-left:50px;
   display: none;
}



#addbox input{
   width:98%;
   border: 0;
   font-size: 18pt;
   padding-left:5px;
   height: 30px;
}

#addbox{
   width:100%;

}

#searchbox{
   width:100%;

}


#searchbox input{
   width:98%;
   border: 0;
   font-size: 18pt;
   padding-left:5px;
   height: 30px;
}

#rightbox{
   padding:5px;
   padding-left:15px;
}

input{

}

input:focus{
   border: 0;
}

h2{
   font-size:18pt;
   margin-top:15px;
   margin-bottom:15px;
}

.word_input{
   margin-bottom: 12px;
   margin-top:2px;
   font-size: 18pt;
   padding-left:5px;
   height: 30px;
   border:0;
   
   outline:1px solid #aaa;
}

#word_meaning{
   width:98%;
}

#word_word_type{
   width:302px;
}

.word_input:active{
   
}

.disabled{
   color:#aaa;
   background-color:#ddd;
   border:0;
   outline:none;
}

.delete{
   
   background-image: url('img/delete.png');
   width:20px;
   height:20px;
   background-size: contain;

   background-repeat: no-repeat;
   background-position: center right;
   z-index:999;
   cursor: pointer;
   float:left;
   margin-left:-30px;
   margin-top:8px;

}

.conjugation{
   margin-bottom: 5px;
   font-size: 14pt;
   padding-left:5px;
   height: 30px;
   border:1px solid #aaa;
   float:left;
   width:150px;
   margin-right: 5px;
}


.glass{
   background-image: url('img/glass.png');
   border:0;
   background-size:25px 25px;
   /*background-size: contain;*/
   background-repeat: no-repeat;
   background-position: center right;
   right: 10px;
   z-index: 999;
   float: right;
}

.addglass{
   background-image: url('img/add.png');
   border:0;
   background-size:25px 25px;
   /*background-size: contain;*/
   background-repeat: no-repeat;
   background-position: center right;
   right: 10px;
   z-index: 999;
   float: right;
}

#wordlist{
   width:100%;
   height:80%;

}

#wordlist_content{
   overflow-y: scroll;
   padding:5px;
   height: 400px
}

.list_label{
   color:#aaa;
   font-size: 14pt;
   margin-top: 10px;
}

#word_has_other_meaning{
   width:20px;
   height: 20px;
   margin-bottom:10px;
}

#save{
   font-size:18pt;
   color:white;
   background-color: #FF6600;
   border:2px solid #000;
   float:right;
   cursor: pointer;
}

.list-item{
   font-size: 18pt;
   background-color: white;
}

.list-item:hover{
   background-color: #aaa;
   cursor:pointer;
}

#add{
   width:20px;
   height:20px;
   margin-left:5px;
   cursor: pointer;
}

#down{
   width:20px;
   height:20px;
   margin-left:5px;
   cursor: pointer;
}

#parsedsn{
   display: none;
}

.deleteItem{
   background-image: url('img/remove.png');
   width:20px;
   height:20px;
   float:right;
   background-size: contain;
   margin-top:-22px;

   background-repeat: no-repeat;
   
   z-index:999;
   cursor: pointer;
   
}